<footer class="main-footer">


	<div class="pull-right hidden-xs pointer">
		<font color="blue"><u><b>Version: </b> 0.0.1</u></font>
	</div>
	<strong>Copyright &copy; 2021.</strong> All rights
	reserved.
</footer>
</div>
<!-- ./wrapper -->
