<head>
	<% include head %>
</head>
<header class="main-header" style="background-color:#2d3e4f">
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation" style="margin-left:0">
		<!-- Sidebar toggle button-->

	</nav>
</header>

<div data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1" role="banner" class="left-navigation w-nav">
  <a href="#" class="logo-link w-nav-brand">
    <h1 class="brand-text">PARLAYS</h1>
  </a>
  <nav role="navigation" class="nav-menu w-nav-menu">
    <a href="#" class="nav-link w-nav-link">Home</a>
    <a href="#about" class="nav-link w-nav-link">Bets</a>
    <a href="#gallery" class="nav-link w-nav-link">Profile</a>
  </nav>
  <div class="hamburger-button w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
  <!--<div class="social-footer w-hidden-medium w-hidden-small w-hidden-tiny">
    <a href="#" class="social-icon-link w-inline-block"><img src="social-03-white.svg" width="17" alt=""></a>
    <a href="#" class="social-icon-link w-inline-block"><img src="social-18-white.svg" width="17" alt=""></a>
    <a href="#" class="social-icon-link w-inline-block"><img src="social-15-white.svg" width="17" alt=""></a>
    <a href="#" class="social-icon-link w-inline-block"><img src="social-14-white.svg" width="17" alt=""></a>
    <a href="#" class="social-icon-link w-inline-block"><img src="social-12-white.svg" width="17" alt=""></a>
    <a href="#" class="social-icon-link w-inline-block"><img src="social-08-white.svg" width="17" alt=""></a>
    <a href="#" class="social-icon-link w-inline-block"><img src="social-30-white.svg" width="17" alt=""></a>
  </div>-->
</div>
